.imgPrincipal {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

.img {
  display:block;
  margin:auto;
}

.borde {
  border: 1px;
  border-width: 5px;
  border-color: black;
  border-style: dashed;
}
