.frame {
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  --background-color: rgb(21, 21, 73);
}

.searchBar {
  margin: 10px;
  height: 40px;
  width: 60%;
  font: icon;
  font-weight: bold;
}

.contenedor {
  align-content: center;
  width: max-content;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  position: sticky;
  display:block;
}

.boton {
  width: 35%;
  margin: 10px;
}

.borde {
  border: 1px;
  border-width: 5px;
  border-color: black;
  border-style: dashed;
}

.contenedorDatos {
  width: 50%;
  margin: auto;
}

.imagenes {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  display:block;
}

.img50 {
  display: table-cell;
  width: 30%;
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .contenedor {
    max-width: 960px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  .contenedor {
    max-width: 720px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .contenedor {
    max-width: 540px;
  }
  .texto-boton {
    display: none;
  }
}

.contenedor-busqueda {
  display: flex;
  justify-content: space-between;
}

.searchBar {
  flex: 0 0 70%;
}

.boton {
  flex: 0 0 25%;
}

@media (max-width: 767px) {
  .contenedor-busqueda {
    flex-direction: column;
    align-items: center;
  }

  .searchBar, .boton {
    width: 100%;
  }
}

.contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .contenedor-imagenes {
    flex-direction: column;
  }

  .img50 {
    width: 100%;
  }
}

.nombre-pokemon {
  text-align: center;
}